<!doctype html><html lang="en"><head>
<meta charset="UTF-8">
<title>Render</title>
<link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/bootstrap/css/datatables.bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/styles.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/angular.ng-modules.js"></script>
<script type="text/javascript" src="/javascripts/angular-datatables.min.js"></script>
<script type="text/javascript" src="/javascripts/angular-datatables.bootstrap.min.js"></script>
</head><body><div class="bool-container container-fluid">  <div class="col-sm-4"><div class="bool-container panel panel-primary">  <div class="panel-heading"><div class="bool-container panel-title"><h3>Panel test 1</h3></div></div> <div class="bool-container panel-body">  <div class="col-sm-8"><form class="bool-container form-horizontal" role="form">  <div class="form-group"><label for="text1" class="control-label">textfield 1:</label><div class="col-sm-6"><input type="text" class="form-control bool-input" id="text1" ng-model="text1"></div></div> <div class="form-group"><label for="text2" class="control-label">textfield 2:</label><div class="col-sm-6"><input type="text" class="form-control bool-input" id="text2" ng-model="text2"></div></div></form></div></div> <div class="bool-container panel-footer"> </div></div></div> <div class="col-sm-4"><div class="bool-container panel panel-danger">  <div class="panel-heading"><div class="bool-container panel-title"><h3>Panel test 2</h3></div></div> <div class="bool-container panel-body"> </div> <div class="bool-container panel-footer"> </div></div></div></div><script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</body></html>